<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Love Chernihiv</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">
    <style>

    </style>
</head>
<body>
<center>
    <div style="margin-top: 100px; background: white" id="container">
        <a href="/login"><img src="../static/images/img_1.png" width="100px"/></a>
            <p style="font-family: 'Oleo Script Swash Caps', cursive; font-size: 36px">@love.chernihiv</p>

        <p>
            <a href="https://www.instagram.com/love.chernihiv/"><img style="margin: 10px" src="../static/images/instagram-round-color.png" width="70px" /></a>
            <a href="https://t.me/lovechernihiv"><img style="margin: 10px" src="../static/images/Telegram_logo.png" width="70px" /></a>
{#            <a href=""><img style="margin: 10px" src="../static/images/facebook-icon-circle-logo-09F32F61FF-seeklogo.com.png" width="70px" /></a>#}
        </p>
        <p>
        <img  src="../static/images/1.png" width="120px" style="border-radius: 25px; margin: 10px">
            <img src="../static/images/2.png" width="120px" style="border-radius: 25px; margin: 10px"></p>
    </div>

</center>

</body>
</html>